.icon-pencil, .icon-photo, .icon-quotes {
    background-repeat: no-repeat;
}
.section {
    margin-top: 0px;
}
.title p {
    font-size: 28px;
    font-weight: 800;
    line-height: 32.8px;
}
.entry .title {
    pointer-events: none;
}
.title a {
    text-decoration: none;
}