.icon-pencil, .icon-photo, .icon-quotes {
    margin-top: 30px;
    background-repeat: no-repeat;
}
.section {
    margin-top: 0px;
}
.date {
    margin-top: 40px;
}
.controls {
    margin-top: 30px;
}