.title-wrapper {
    background-color: rgba(0,0,0,0);
    margin-top: 30px;
}
.header {
    height: 180px;
    color: #6d5160;
    background-color: #edeae1;
    padding-left: 20px;
    padding-top: 10px;
}
.navbar a {
    background-color: rgba(0,0,0,0);
    margin-top: 30px;
}
.navbar a:hover{
    text-decoration: underline;
}